<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>458473428470-hdkf74km0i6huiacij1afm4bdijajpdu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.458473428470-hdkf74km0i6huiacij1afm4bdijajpdu</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>458473428470-s2s2vhmat9g6rdl99ldg82ledku2lges.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyApzVyYPW_aaA4Rg81lJSldA8BQnRazoLo</string>
	<key>GCM_SENDER_ID</key>
	<string>458473428470</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.gdggaborone.events.ayes-conference-app</string>
	<key>PROJECT_ID</key>
	<string>ayesbw2020</string>
	<key>STORAGE_BUCKET</key>
	<string>ayesbw2020.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:458473428470:ios:b9cd773189e3afb50ee3d7</string>
	<key>DATABASE_URL</key>
	<string>https://ayesbw2020.firebaseio.com</string>
</dict>
</plist>